<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Homeblebrag</title>
    <style type="text/css">
    video {  
        width:100%; 
        max-width:600px; 
        height:auto; 
    }
    </style>
</head>
<body>
<video width="100%" controls>
    <source src="output.mp4" type="video/mp4">Your browser does not support video
</video>
<img src="<%= streetViewImg %>" width="1" height="1" alt="">
</body>
</html>
